@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before { font-family: 'entypo', sans-serif }
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1em;
}
body {
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,from(#589ed9),to(#4984d0));
    background: -webkit-linear-gradient(#589ed9,#4984d0);
    background: -moz-linear-gradient(#589ed9,#4984d0);
    background: -o-linear-gradient(#589ed9,#4984d0);
    background: linear-gradient(#589ed9,#4984d0);
}
/* Style starts here */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue",hevetica ,sans-serif;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,.4),0 2px 2px rgba(0,0,0,.24);
}
#form {
    width: 220px;
    margin: 25vh auto;
    text-align: center;
    color: #FFF;
}
#form header #logo {
    font-size: 3.4em;
    padding: 0;
    margin: 0 auto;
}
#form header h1{
  font-size:2.2em;
  padding:0;
  margin:.2em 0;
}
#form article input {
    appearance: none;
    border: 0;
    padding: .8em .8em 1em;
    display: block;
    width: 100%;
    margin: 0em 0;
    border: 1px solid #fff;
    font-size: .8em;
    line-height: 1;
    color: #2c3e50;
    text-shadow: 0 0 0;
    outline: 0;
}
#form article input:nth-child(1) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 0;
    margin-bottom: 1em;
}
#form article input:nth-child(2) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: -1em 0 0em;
    border-top-color: #ccc;
    /*box-shadow*/
    -webkit-box-shadow: 0 2px 0 rgba(255,255,255,.4);
    -moz-box-shadow: 0 2px 0 rgba(255,255,255,.4);
    box-shadow: 0 2px 0 rgba(255,255,255,.4);
}
#tooltip--why {
    color: transparent;
    text-shadow: 0 0 0 !important;
}
#tooltip--why:after {
    content: '?';
    display: block;
    font-size: .65em;
    font-weight: bold;
    text-align: center;
    width: 1em;
    height: 1em;
    padding: .25em;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    margin: -2.8em 195px;
    z-index: 2;
    background: #b4b4b4;
    color: #fff;
    text-shadow: 0 0 0;
    line-height:1
}
#form article input[type=submit] {
    /*border-radius*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 45px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 0;
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,from(#2186d4),to(#175dbd));
    background: -webkit-linear-gradient(#2186d4,#175dbd);
    background: -moz-linear-gradient(#2186d4,#175dbd);
    background: -o-linear-gradient(#2186d4,#175dbd);
    background: linear-gradient(#2186d4,#175dbd);
    color: #fff;
    border: 1px solid #34495e;
    text-shadow: 0 -1px 4px rgba(0,0,0,.4);
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(255,255,255,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(255,255,255,.1);
}
#form footer p a {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
#contain_fields {
    /*box-shadow*/
    -webkit-box-shadow: 0 0 0px 1px #34495e;
    -moz-box-shadow: 0 0 0px 1px #34495e;
    box-shadow: 0 0 0px 1px #34495e;
    margin: 1em 0;
    width: 100%;
    height: auto;
    float: left;
    /*border-radius*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
