
*:focus {
	outline: none;
}

body {
font-family: Arial;
background-color: #3498DB;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

ul{/*设置导航栏的框框*/
 /* margin-top: 0px ;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/ */
 margin: auto;
 margin-left: auto;
 margin-right: auto;
 width: 800px;/*框框的宽度*/
 height: 50px;/*框框的长度*/
 padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
 border:2px solid #000;/*添加边框*/
}

li{
			list-style-type: none;/* 去掉li前的点 */
			float: left;/*将liSS设置成做浮动，变为联动*/
}

a{
  display: block;/*将a变成块状*/
  width: 400px;/*设置块的宽度*/
  height: 50px;/*设置块的长度*/
  font-family: Microsoft Yahei;
  line-height: 50px;/*设置字体在块中的高度*/
  background-color: #2f4f4f;
  margin: 0px 0px;/*块里的高宽通过margin设置*/
  color: #fff;
  text-align: center;/*字体居中*/
  font-size: 20px;
  background-color: #C0C0C0;

}
a:hover{
  background-color: #2f6f4f;
}

.btn {
  border: 2px solid transparent;
  background-color: #C0C0C0;
  color: #000;
  font-size: 20px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 400px;
  margin: 0 auto;
	font-weight: bold;
}

.btn:hover {
  background-color: #2980B9;
}

.box{
  margin: 20px auto;
  width: 60%;
	background-color: #fff;
  /* background-color:  #C0C0C0; */
  border: 2px solid #000
}

.app-subtitle{
	text-align: center;
	margin-bottom: 20px;
	margin-top:1px;
}

.app-title {
text-align: center;
color: #000;
margin-bottom: 10px;
}

.location-form {
text-align: center;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

option{
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 200;
  padding: 10px 0;
  width: 220px;
  transition: border .5s;
}

.inputinfo{
	text-align: center;
	margin:0 auto
}
table{
	align-items: center;
	align:center;

}
